# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\haslh\OneDrive\Documents\JKU\5.Semester\Compilerbau\Compiler\MicroJava Compiler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
